body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	background: #8a793b
}

#box_login {
	margin: 10% auto;
	width: 370px
}

.form-control {
	box-shadow: none;
	padding: 6px 12px !important
}

.form-control:focus {
	box-shadow: none
}

.ui-state-default {
	text-shadow: none;
	box-shadow: none
}

.btn-lg {
	border-radius: 3px
}

.modal {
	overflow-y: auto
}

.modal-header {
	border-bottom: 0
}

.ui-button-text-only .ui-button-text {
	padding: 10px 12px !important;
	font-size: 16px
}

.input-group-addon {
	background: #fff;
	color: #8a793b
}

.btn-primary {
	background: #8a793b;
	border-color: #8a793b
}

.btn-primary:hover {
	background: #8a793b;
	transition-delay: .5s
}

.btn-primary:active {
	background: #8a793b;
	transition-delay: .5s;
	margin-top: 1px
}

.btn-primary:focus {
	outline: none
}